.head4{
    position: absolute;
width: 121px;
height: 25px;
left: 124px;
top: 600px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 140%;
/* or 25px */


color: #242831;

}

.email4{
    position: absolute;
width: 160px;
height: 20px;
left: 240px;
top: 610px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;
/* identical to box height, or 17px */


color: #6B6B6B;

}

.gen4{
    position: absolute;
width: 42px;
height: 17px;
left: 125px;
top: 640px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;
/* identical to box height, or 17px */

text-align: center;

color: #6B6B6B;

}

.fe4{

    position: absolute;
    width: 48px;
    height: 20px;
    left: 125px;
    top: 660px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */
    
    
    color: #2428;
}



.birth4{
    position: absolute;
width: 48px;
height: 17px;
left: 209px;
top: 640px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;
/* identical to box height, or 17px */


color: #6B6B6B;

}


.date4{

    position: absolute;
    width: 97px;
    height: 20px;
    left: 209px;
    top: 660px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */
    
    
    color: #242831;


}


.phone4{

position: absolute;
width: 86px;
height: 17px;
left: 346px;
top: 640px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;
/* identical to box height, or 17px */


color: #6B6B6B;

}

.no4{
    
position: absolute;
width: 101px;
height: 20px;
left: 346px;
top: 660px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */


color: #242831;

}

.status4{

    position: absolute;
    width: 86px;
    height: 17px;
    left: 489px;
    top: 640px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    /* identical to box height, or 17px */
    
    
    color: #6B6B6B;
    
    

}

.statusa4{
    position: absolute;
width: 99px;
height: 20px;
left: 489px;
top: 660px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */


color: #242831;
}

.five4{
    position: absolute;
width: 23px;
height: 24px;
left: 869px;
top: 630px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 140%;
/* identical to box height, or 28px */


color: #242831;

}

.two4{

    position: absolute;
    width: 23px;
    height: 28px;
    left: 950px;
    top: 630px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    /* identical to box height, or 28px */
    
    
    color: #242831;

}

.past4{

    position: absolute;
    width: 24px;
    height: 17px;
    left: 868px;
    top: 660px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    /* identical to box height, or 17px */
    
    text-align: center;
    
    color: #6B6B6B;


}

.up4{
    position: absolute;
width: 58px;
height: 17px;
left: 949px;
top: 660px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;
/* identical to box height, or 17px */

text-align: center;

color: #6B6B6B;

}

.view4{
    position: absolute;
width: 77px;
height: 66px;
left: 1046px;
top: 620px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 180%;
/* or 22px */


color: #29B712;

}
.logo52{
    position: absolute;
width: 0px;
height: 34px;
left: 199px;
top: 645px;

opacity: 0.5;
border: 1px solid #6B6B6B;


}


.logo53{
    position: absolute;
width: 0px;
height: 34px;
left: 326px;
top: 645px;

opacity: 0.5;
border: 1px solid #6B6B6B;
    
}
.logo54{
    position: absolute;
width: 0px;
height: 34px;
left: 471px;
top: 645px;

opacity: 0.5;
border: 1px solid #6B6B6B;

    
}
.logo55{
    
    position: absolute;
width: 0px;
height: 38px;
left: 924px;
top: 645px;

opacity: 0.5;
border: 1px solid #6B6B6B;
}


.line5{

position: absolute;
width: 1010px;
height: 0px;
left: 114px;
top: 710px;

border: 1px solid #F1F1F1;
}




























